# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.IzenGard_DemoParts.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity-Storage\IzenGard_DemoParts\IzenGard_DemoParts\.idea\.idea.IzenGard_DemoParts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
